@using InventoryApp.Models.Classes
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - InventoryApp</title>
    <link rel="icon" href="~/logo/ptc-computer-logo.png" type="image/svg"/>
    <!-- Bootstrap 3.3.7 -->
    <link href="~/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Font Awesome -->
    <link href="~/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Ionicons -->
    <link href="~/assets/bower_components/ionicons/css/ionicons.min.css" rel="stylesheet"/>
    <!-- Theme style -->
    <link href="~/assets/dist/css/adminlte.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page" style="background-color: #eaeaea;">

<div class="login-box">
    <div class="login-logo">
        <img src="~/logo/ptc-computer-logo.png" width="250px" height="auto"/>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Login Inventory App</h3>

        <form action="#" method="get">
            <div class="callout callout-warning hide" style="padding: 8px; border-radius: 0">
                <p class="msg"></p>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="usercode" placeholder="User code" required>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="form-group has-feedback">
                <input type="hidden" class="form-control" id="ip">
            </div>
            <div class="form-group has-feedback">
                <input type="hidden" class="form-control" id="city">
            </div>
            <div class="form-group has-feedback">
                <input type="hidden" class="form-control" id="browser">
            </div>
            <div class="form-group has-feedback">
                <input type="hidden" class="form-control" id="version">
            </div>
            <div class="form-group has-feedback">
                <input type="hidden" class="form-control" id="date">
            </div>
            <div class="form-group has-errors">
                <select class="form-control" id="select_company">
                    <option value="">-- Select Company --</option>
                </select>
                <small class="help-block"></small>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat login">Login</button>
                </div>

                @* <div class="col-xs-7"> *@
                @*     <div class="checkbox icheck"> *@
                @*         <label> *@
                @*             $1$<input type="checkbox"> Remember Me#1# *@
                @*         </label> *@
                @*     </div> *@
                @* </div> *@
                @* <!-- /.col --> *@
                @* <div class="col-xs-5"> *@
                @*     <button type="submit" class="btn btn-primary btn-block btn-flat login">Login</button> *@
                @* </div> *@
                @* <!-- /.col --> *@
            </div>
        </form>

    </div>
    <img src="~/logo/shadow.png" style="width: 100%; margin-top: -15px" alt=""/>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- add firebase CDN -->
<script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-database-compat.js"></script>

<script type="text/javascript">

        const firebaseConfig = {
            // databaseURL: "https://inventorymanageuserdb-default-rtdb.asia-southeast1.firebasedatabase.app"
            databaseURL: '@ConnectionString.DatabaseUrl'
        }
        firebase.initializeApp(firebaseConfig);
        const database = firebase.database();
        
        function sendData() {
            var username = document.querySelectorAll('input')[0];
            var ip = document.querySelectorAll('input')[2];
            var city = document.querySelectorAll('input')[3];
            var browser = document.querySelectorAll('input')[4];
            var version = document.querySelectorAll('input')[5];
            var date = document.querySelectorAll('input')[6];
            
            var listRef = database.ref('inventory-user/');
            var newRef = listRef.push();
            newRef.set({
                'username': username.value,
                'ip': ip.value,
                'city': city.value,
                'browser': browser.value,
                'version': version.value,
                'date': date.value
            });
        }

        // Get IP and City
        fetch('https://ipapi.co/json/?fields=61439')
            .then((res) => res.json())
            .then((res) => {
                document.getElementById('ip').value = res.ip;
                document.getElementById('city').value = res.city;
            })
        
        // Get Browser
        function get_browser() {
            var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if(/trident/i.test(M[1])){
                tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
                return {name:'IE',version:(tem[1]||'')};
            }
            if(M[1]==='Chrome'){
                tem=ua.match(/\bEdg\/(\d+)/)
                if(tem!=null)   {return {name:'Edge(Chromium)', version:tem[1]};}
                tem=ua.match(/\bOPR\/(\d+)/)
                if(tem!=null)   {return {name:'Opera', version:tem[1]};}
            }
            M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
            if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
            return {
                name: M[0],
                version: M[1]
            };
        }
    
        var browser=get_browser();
        
        document.getElementById('browser').value = browser.name;
        document.getElementById('version').value = browser.version;
        
        // Get DateTime
        var myDate = new Date();
        
        let daysList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        let monthsList = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Aug', 'Oct', 'Nov', 'Dec'];
        
        
        let date = myDate.getDate();
        let month = monthsList[myDate.getMonth()];
        let year = myDate.getFullYear();
        let day = daysList[myDate.getDay()];
        
        let today = `${date} ${month} ${year}, ${day}`;
        
        // let amOrPm;
        // let twelveHours = function (){
        //     if(myDate.getHours() > 12)
        //     {
        //         amOrPm = 'PM';
        //         let twentyFourHourTime = myDate.getHours();
        //         let conversion = twentyFourHourTime - 12;
        //         return `${conversion}`
        //
        //     }else {
        //         amOrPm = 'AM';
        //         return `${myDate.getHours()}`}
        // };
        // let hours = twelveHours();
        // let minutes = myDate.getMinutes();
        // let second = myDate.getSeconds();
        //
        // let currentTime = `${hours}:${minutes} ${amOrPm}`;
        
        setInterval(function() {
            let datetime = new Date(),
            h = datetime.getHours(),
            m = datetime.getMinutes(),
            s = datetime.getSeconds(),
            ampm = "AM";
            
            if (h >= 12) {
              h = h - 12;
              ampm = "PM";
            }
            
            h = h == 0 ? h = 12 : h;
            h = h < 10 ? "0" + h : h;
            m = m < 10 ? "0" + m : m;
            s = s < 10 ? "0" + s : s;
            
            document.getElementById('date').value = today + ' ' + (`${h}:${m}:${s} ${ampm}`);
        },1000);

        //document.getElementById('date').value = today + ' ' + currentTime;

        $(document).ready(function() {
            
            var form = $('form');
            form.submit(function(e) {
                
                if(!form[0].checkValidity()) {
                    e.preventDefault();
                    e.stopPropagation();
                } else {
                    e.preventDefault();
                    $.ajax({
                        url: '@Url.Action("PostLogin", "Login")',
                        type: 'GET',
                        dataType: 'JSON',
                        data: { usercode: $('#usercode').val(), password: $('#password').val(), database: $('#select_company').val() },
                        beforeSend: function() {
                            $('.login').text('Loading...');
                            $('.login').prop('disabled', true);
                        },
                        success: function(data) {
                            //console.log(data)
                            if(data == 0) {
                                sendData();
                                
                                setTimeout(function() {
                                    window.location.replace('@Url.Action("ShowInventory", "Inventory")');
                                }, 2500);
                            } else {
                                $('.login').text('Login again');
                                $('.login').prop('disabled', false);
                                $('.hide').addClass('show')
                                $('.hide').removeClass('hide')
                                setTimeout(function(){
                                    $('.show').addClass('hide')
                                    $('.hide').removeClass('show')
                                }, 7000)
                                $('.msg').text("Wrong usercode or password!");
                            }
                        }
                    })
                }
            });
            
            $('select').change(function () {
                if($(this).val() != '') {
                    $(':button[type="submit"]').prop('disabled', false);
                    $('.has-errors').removeClass('has-error');
                    $('.help-block').text('');
                } else {
                    $(':button[type="submit"]').prop('disabled', true);
                    $('.has-errors').addClass('has-error');
                    $('.help-block').text('The company is required and can not be empty!');
                }
            });

            $.ajax({
                url: '@Url.Action("getCompanyName", "Login")',
                type: 'GET',
                dataType: 'JSON',
                success: function(data) {
                    //console.log(data);
                    for(i = 0;i < data.length;i++){
                        $('#select_company').append('<option value=' + data[i].dbName + '>' + data[i].cmpName + '</option>');
                        $('option:nth-child(2)').attr('selected', true);
                    }
                }
            });
        });
    </script>

</body>
</html>