@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model InventoryApp.Models.Classes.ClsParameter
@{
    ViewData["Title"] = "Result of Inventory" + " " + DateTime.Now;
}

<div class="loading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div class="callout callout-danger notification">
    <p class="showMgs"></p>
</div>

<button type="button" class="btn btn-default SpeceType hide" data-toggle="modal" data-target="#modal-default"></button>

<input type="hidden" id="whsCode" value="@Model.whsCode" />
<input type="hidden" id="itmsGrpCod" value="@Model.itmsGrpCod" />
<input type="hidden" id="itemName" value="@Model.itemName" />
<input type="hidden" id="categoryCode" value="@Model.categoryCode" />
<input type="hidden" id="subCategoryCode" value="@Model.subCategoryCode" />
<input type="hidden" id="stockVal" value="@Model.stockVal" />

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary collapseses">
        <div class="box-header with-border">
            <h3 class="box-title">Search</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus pluses"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @*<form method="get">*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>WareHouse</label>
                            <select class="form-control select2" id="whsCodes" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" required>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Stock</label><br />
                            <input type="radio" name="in_stock" class="radioBtnClass" id="zero" value="0" checked />
                            <label style="font-weight: 500" for="zero">Default</label> |
                            <input type="radio" name="in_stock" class="radioBtnClass" id="one" value="1" />
                            <label style="font-weight: 500" for="one">In-stock Only</label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Choose Brand</label>
                            <select class="form-control select2" id="brand" style="width: 100%;">
                                <option value="0" selected="selected">Choose brand</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Choose Category</label>
                            <select class="form-control select2" id="category" style="width: 100%;">
                                <option value="0" selected="selected">Choose category</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Choose Sub Category</label>
                            <select class="form-control select2" id="subcategory" style="width: 100%;">
                                <option value="0" selected="selected">Choose sub category</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="searchCodeorName">Item Code or Name</label>
                            <input type="text" class="form-control" id="codeorname" placeholder="Enter item code or name">
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <label style="visibility: hidden">Search</label>
                            <button type="submit" class="btn btn-primary btn-flat" id="searchBtn" style="width:100%"><small class="fa fa-search"></small> Search</button>
                    </div>
                </div>
            @*</form>*@
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body">
                <table id="tblInventory" class="table table-bordered table-hover" style="width:100%"></table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->

</div>
<!-- /.row -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Space or Type</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="msg" rows="15" readonly></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    var listInventory = [];
    let cols = [];

    function setTimer() {
        $('.loading').addClass('active');
    }

    function clearTimer() {
        $('.loading').removeClass('active');
    }

    function resetTimer() {
        var timer = null;

        if (timer) { clearTimeout(timer) };
            timer = setTimeout(function () {
            clearTimer();
        }, timer);

    }
    
    $('#searchBtn').click(function(e) {
        e.preventDefault();

        setTimer();
        $('.collapseses').addClass('collapsed-box');
        $('.pluses').removeClass('fa-minus');
        $('.pluses').addClass('fa-plus');
        loadInventory();
    });

    var stock_value = 0;
    $("input[type='radio'].radioBtnClass").change(function () {
        if ($("input[type='radio'].radioBtnClass").is(':checked')) {
            stock_value = $("input[type='radio'].radioBtnClass:checked").val();
        }
    });
  
    function loadInventory() {
        
        let warehouse = $('#whsCodes').val();
        let brand = $('#brand').val();
        let category = $('#category').val();
        let subcategory = $('#subcategory').val();
        let codeorname = $('#codeorname').val();

        let warehouses = warehouse.toString();
        if (codeorname == '') {
            codeorname = 'empty';
        }
        
        $.ajax({
            url: '@Url.Action("getInInventory","Inventory")',
            type: 'GET',
            dataType: 'JSON',
            data: { whsCodes: warehouses, itmsGrpCods: brand, itemNames: codeorname, categoryCodes: category, subCategoryCodes: subcategory, stockVal: stock_value },
            beforeSend: function () {
                setTimer();
            },
            success: function (data) {
                //console.log(data);
                
                if (data == '') {
                    $('.showMgs').text('Data not found!');
                    $('.notification').addClass('active');
                    setTimeout(function () {
                        $('.notification').removeClass('active');
                        $('.showMgsNo').text('');
                    }, 3000)

                    if ($.fn.DataTable.isDataTable("#tblInventory")) {
                        $('#tblInventory').DataTable().clear().destroy();
                        $('#tblInventory').html('');
                    }
                    clearTimer();
                    
                } else {
                    listInventory = [];

                    listInventory = data;
                    let inventoryRecord = listInventory[0];

                    let keys = Object.keys(inventoryRecord);

                    cols = [];
                    keys.forEach(function (k) {
                        cols.push({
                            title: k,
                            data: k
                        });

                    });
                    
                    if ($.fn.DataTable.isDataTable("#tblInventory")) {
                        $('#tblInventory').DataTable().clear().destroy();
                        $('#tblInventory').html('');
                    }
                    
                    var table = $('#tblInventory').DataTable({
                        "columns": cols,
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": true,
                        "searching": true,
                        "paging": true,
                        "scrollY": '60vh',
                        "scrollCollapse": true,
                        "columnDefs": [
                            { visible: false, targets: 1 }
                        ],
                        buttons: [
                            { extend: 'excel', className: 'btn bg-olive btn-flat'  },
                        ],
                        dom:
                            "<'row'<'col-md-0'l><'col-md-6'B><'col-md-6'f>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5'i><'col-md-7'p>>",
                        lengthMenu: [
                            [25]
                        ],
                    });
                    
                    table.rows.add(listInventory).draw();

                    //var datas = table.column(1).data();

                    resetTimer();

                }

            }

        });
    }

    var msg = 'The spece or type is empty.';
    $('body').on('click', 'li', function () {
        var table = $(this).closest('table').DataTable();
        var text = table.row($(this).closest('li')).data()['SpaceOrType'];

        if (text != '') {
            $('#msg').text(text);
            $('.SpeceType').click();
            $('.notification').removeClass('active');
        } else {
            $('.showMgs').text(msg);
            $('.notification').addClass('active');
            setTimeout(function() {
                $('.notification').removeClass('active');
                $('.showMgs').text('');
            }, 5000);
        }
    });

    $('body').on('dblclick', 'td', function () {
        var table = $(this).closest('table').DataTable();
        var text = table.row($(this).closest('tr')).data()['SpaceOrType'];
        if (text != '') {
            $('#msg').text(text);
            $('.SpeceType').click();
            $('.notification').removeClass('active');
        } else {
            $('.showMgs').text(msg);
            $('.notification').addClass('active');
            setTimeout(function() {
                $('.notification').removeClass('active');
                $('.showMgs').text('');
            }, 5000);        }
    });

    $(window).scroll(function() {
        var scrollTop = $(window).scrollTop();
        if(scrollTop > 300) {
            $('.to-top').addClass('active');        } 
        else {
            $('.to-top').removeClass('active');
        }
    });

</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.select2').select2();

        $(':input[type="submit"]').prop('disabled', true);

        $('#brand').change(function () {
            let category = $('#category').val();
            if ($(this).val() == '0' && category == '0') {
                $('button[type="submit"]').prop('disabled', true);
            } else {
                $('button[type="submit"]').prop('disabled', false);
            }
        });

        $('#category').change(function () {
            let brand = $('#brand').val();
            if ($(this).val() == '0' && brand == '0') {
                $('button[type="submit"]').prop('disabled', true);
            } else {
                $('button[type="submit"]').prop('disabled', false);
            }
        });

        $('#category').change(function () {
            var id = $('#category').val();
            $.ajax({
                url: '@Url.Action("getCategoryFilter","Inventory")',
                type: 'GET',
                dataType: 'JSON',
                data: { code: id },
                success: function (data) {
                    $('#subcategory').empty();
                    $('#subcategory').append('<option value="0" selected="selected">Choose sub category</option>');
                    for (i = 0; i < data.length; i++) {
                        $('#subcategory').append('<option value="' + data[i].subCategoryCode + '">' + data[i].subCategoryName + '</option>');
                    }
                }
            })
        });


        $('input[type="text"]').keyup(function () {
            var value = $(this).val();
            let brand = $('#brand').val();
            let category = $('#category').val();
            if (value.length >= 3 && value != '') {
                $(':input[type="submit"]').prop('disabled', false);
            } else {
                if (brand != '0' || category != '0') {
                    $(':input[type="submit"]').prop('disabled', false);
                } else {
                    $(':input[type="submit"]').prop('disabled', true);
                }
            }

        });

        //Fetch Warehouse
        $.ajax({
            url: '@Url.Action("getWareHouse","Inventory")',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                //console.log(data)
                for (i = 0; i < data.length; i++) {
                    //console.log(data[i].whsCode);
                    $('#whsCodes').append('<option value="' + data[i].whsCode + '" selected>' + data[i].whsName + '</option>');
                }
            }
        });

        //Fetch Brand
        $.ajax({
            url: '@Url.Action("getBrand","Inventory")',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    //console.log(data[i].itmsGrpCod);
                    $('#brand').append('<option value="' + data[i].itmsGrpCod + '">' + data[i].itmsGrpNam + '</option>');
                }
            }
        });

        //Fetch Category
        $.ajax({
            url: '@Url.Action("getCategory","Inventory")',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    //console.log(data[i].code);
                    $('#category').append('<option value="' + data[i].categoryCode + '">' + data[i].categoryName + '</option>');
                }
            }
        });
    });
</script>

